<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-lightbox/paper-lightbox.html">
<link rel="import" href="../../bower_components/neon-animation/web-animations.html">
<link rel="import" href="../../bower_components/neon-animation/animations/scale-up-animation.html">
<link rel="import" href="../../bower_components/neon-animation/animations/fade-out-animation.html">


<dom-module id="alta-cliente">
  <template>
    <style>
      :host {

      }
    </style>

    <paper-dialog id="animated" entry-animation="scale-up-animation" exit-animation="fade-out-animation" with-backdrop>
      <h2>Dialog Title</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
        irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </paper-dialog>

    <paper-lightbox src="https://unsplash.it/800/500/?image=257" type="image">launch image popup</paper-lightbox>


    <iron-ajax id="pedirUltimoId"
               url="http://localhost:3000/apitechu/v5/ultimoId"
               method="GET"
               handle-as="json"
               on-response="obtenerUltimoID"
               on-error="mostrarErrorUltimoID">
    </iron-ajax>
    <iron-ajax id="altaUsuario"
               url="http://localhost:3000/apitechu/v5/altaUsuario"
               method="POST"
               handle-as="json"
               on-response="usuarioDadoAlta"
               on-error="mostrarErrorAltaUsuario">
    </iron-ajax>
    <iron-ajax id="obtenerCuenta"
               url="http://localhost:3000/apitechu/v5/dameUnaCuentaDisponible"
               method="GET"
               handle-as="json"
               on-response="cuentaObtenida"
               on-error="mostrarErrorObtenerCuenta">
    </iron-ajax>
    <iron-ajax id="altaCuenta"
               url="http://localhost:3000/apitechu/v5/altaCuenta"
               method="POST"
               handle-as="json"
               on-response="cuentaDadaDeAlta"
               on-error="mostrarErrorOAltaCuenta">
    </iron-ajax>



    <h1>Date de alta ahora mismo...</h1>



    <form>

        <div class="form-group"> <!-- Full Name -->
            <label for="nombre_id" class="control-label">Nombre</label>
            <input  type="text" value={{nombre::input}} class="form-control" id="nombre_id" name="nombre" placeholder="Tu nombre" required autofocus>
        </div>

        <div class="form-group"> <!-- Full Name -->
            <label for="apellido_id" class="control-label">Apellido</label>
            <input type="text" value={{apellido::input}} class="form-control" id="apellido_id" name="apellido" placeholder="Tu primer apellido" required autofocus>
        </div>

        <div class="form-group"> <!-- State Button -->
            <label for="ciudad_id" class="control-label">Ciudad</label>
            <select class="form-control" value={{ciudad::input}} id="ciudad_id">
              <option value={{ciudad::Albacete}}>Albacete</option>
              <option value={{ciudad::Alicante}}>Alicante</option>
              <option value={{ciudad::Almería}}>Almería</option>
              <option value={{ciudad::Ávila}}>Ávila</option>
              <option value={{ciudad::Badajoz}}>Badajoz</option>
              <option value={{ciudad::Barcelona}}>Barcelona</option>
              <option value={{ciudad::Bilbao}}>Bilbao</option>
              <option value={{ciudad::Burgos}}>Burgos</option>
              <option value={{ciudad::Cáceres}}>Cáceres</option>
              <option value={{ciudad::Cádiz}}>Cádiz</option>
              <option value={{ciudad::Castellón}}>Castellón</option>
              <option value={{ciudad::Ceuta}}>Ceuta</option>
              <option value={{ciudad::CiudadReal}}>Ciudad Real</option>
              <option value={{ciudad::Córdoba}}>Córdoba</option>
              <option value={{ciudad::Cuenca}}>Cuenca</option>
              <option value={{ciudad::Gerona}}>Gerona</option>
              <option value={{ciudad::Granada}}>Granada</option>
              <option value={{ciudad::Guadalajara}}>Guadalajara</option>
              <option value={{ciudad::Huelva}}>Huelva</option>
              <option value={{ciudad::Huesca}}>Huesca</option>
              <option value={{ciudad::Jaén}}>Jaén</option>
              <option value={{ciudad::Coruña}}>La Coruña</option>
              <option value={{ciudad::LasPalmasdeGranCanaria}}>Las Palmas de Gran Canaria</option>
              <option value={{ciudad::León}}>León</option>
              <option value={{ciudad::Lérida}}>Lérida</option>
              <option value={{ciudad::Logroño}}>Logroño</option>
              <option value={{ciudad::Lugo}}>Lugo</option>
              <option value={{ciudad::Madrid}}>Madrid</option>
              <option value={{ciudad::Málaga}}>Málaga</option>
              <option value={{ciudad::Melilla}}>Melilla</option>
              <option value={{ciudad::Mérida}}>Mérida</option>
              <option value={{ciudad::Murcia}}>Murcia</option>
              <option value={{ciudad::Orense}}>Orense</option>
              <option value={{ciudad::Oviedo}}>Oviedo</option>
              <option value={{ciudad::Palencia}}>Palencia</option>
              <option value={{ciudad::Palma}}>Palma</option>
              <option value={{ciudad::Pamplona}}>Pamplona</option>
              <option value={{ciudad::Pontevedra}}>Pontevedra</option>
              <option value={{ciudad::Salamanca}}>Salamanca</option>
              <option value={{ciudad::SanSebastián}}>San Sebastián</option>
              <option value={{ciudad::Tenerife}}>Santa Cruz de Tenerife</option>
              <option value={{ciudad::Santander}}>Santander</option>
              <option value={{ciudad::Compostela}}>Santiago de Compostela</option>
              <option value={{ciudad::Segovia}}>Segovia</option>
              <option value={{ciudad::Sevilla}}>Sevilla</option>
              <option value={{ciudad::Soria}}>Soria</option>
              <option value={{ciudad::Tarragona}}>Tarragona</option>
              <option value={{ciudad::Teruel}}>Teruel</option>
              <option value={{ciudad::Toledo}}>Toledo</option>
              <option value={{ciudad::Valencia}}>Valencia</option>
              <option value={{ciudad::Valladolid}}>Valladolid</option>
              <option value={{ciudad::Vitoria-Gasteiz}}>Vitoria-Gasteiz</option>
              <option value={{ciudad::Zamora}}>Zamora</option>
              <option value={{ciudad::Zaragoza}}>Zaragoza</option>
            </select>
        </div>

        <div class="form-group"> <!-- Zip Code-->
            <label for="telefono_id" class="control-label">Telefono</label>
            <input type="text" value={{telefono::input}}  class="form-control" id="telefono_id" name="telefono" placeholder="#########" required autofocus>
        </div>

        <div class="form-group"> <!-- City-->
            <label for="email_id" class="control-label">Email</label>
            <input type="email" value={{email::input}} class="form-control" id="email_id" name="email" placeholder="Tu email" required autofocus>
        </div>

        <div class="form-group"> <!-- City-->
            <label for="password_id" class="control-label">Password</label>
            <input type="password" value={{password::input}} class="form-control" id="password_id" name="password_id" placeholder="Tu password" required autofocus>
        </div>


        <div class="form-group"> <!-- State Button -->
            <label for="imposicion_id" class="control-label">Imposición inicial</label>
            <select class="form-control" value={{imposicion::input}} id="imposicion_id">
              <option value={{imposicion::100}}>100 €</option>
              <option value={{imposicion::200}}>200 €</option>
              <option value={{imposicion::500}}>500 €</option>
              <option value={{iposicion::1000}}>1.000 €</option>
              <option value={{imposicion::2000}}>2.000 €</option>
            </select>
        </div>


        <div class="form-group"> <!-- Submit Button -->
            <!-- <button  type="submit" on-click="darAlta" class="btn btn-primary">Dame de alta</button> -->
            <!-- <input  type="button" on-click="darAlta" class="btn btn-primary">Dame de alta</input> -->
            <button on-click="darAlta" class="btn btn-primary">Dame de alta</button>


        </div>

  </form>


  <!-- <pop-pup hidden$={{ocultaPopup}} id="popup"></pop-pup> -->


  </template>

  <script>
    /**
     * `alta-cliente`
     *
     *http://localhost:3000/apitechu/v5/dameUnaCuentaDisponible
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class AltaCliente extends Polymer.Element {
      static get is() { return 'alta-cliente'; }
      static get properties() {
        return {
          ocultaPopup:{
            type:Boolean,
            value:true,
          },
          nombre:{
            type: String
          },
          apellido:{
            type: String
          },
          email:{
            type: String
          },
          ciudad:{
            type: String
          },
          telefono:{
            type: String
          },
          password:{
            type: String
          },
          imposicion:{
            type: String
          },
          cuenta:{
            type: String
          },
          idCliente:{
            type: String
          }

        };
      }
      darAlta(e)
      {
          //this.ocultaPopup=false
          this.ocultaPopup=true
          e.preventDefault()
          alert("El valor de nombre " + this.nombre)
          if ((this.nombre==undefined) || (this.apellido==undefined) || (this.email==undefined) || (this.ciudad==undefined) || (this.telefono==undefined) || (this.password==undefined) || (this.imposicion==undefined))
          {
             debugger
             //Falta rellenar algún campo
             this.$.animated.open();
             this.$.animated.toggle();
             this.ocultaPopup=false

          }else
          {
            console.log("1. El usuario ha pulsado el boton")

            this.$.pedirUltimoId.generateRequest()

          }

          //debugger



      }
      obtenerUltimoID(resultado)
      {

        console.log("4. llegaron los resultados");
        console.log(resultado)

        this.idCliente = resultado.detail.response.idUsuarioNuevo

        console.log(this.idCliente)

        var usuarioNuevo = {
            id: this.idCliente,
            nombre:this.nombre,
            apellido:this.apellido,
            email:this.email,
            password:this.password,
            ciudad:this.ciudad,
            telefono:this.telefono

        }
        console.log(usuarioNuevo)

        this.$.altaUsuario.body = usuarioNuevo

        this.$.altaUsuario.generateRequest()

      }

      usuarioDadoAlta(resultado)
      {
        console.log("Usuario dado de alta correctamente")

        //Ahora necesito la cuenta del cliente
        this.$.obtenerCuenta.generateRequest()

      }

      cuentaObtenida(resultado)
      {
          this.cuenta = resultado.detail.response.nuevaCuenta
          //Con la cuenta ya puedo dar de alta la cuenta

          var f = new Date()
          var fecha = f.getFullYear() + "/" + (f.getMonth() +1) + f.getDate()

          var cuentaNueva = {
              iban:this.cuenta,
              idcliente:this.idCliente,
              importe:this.imposicion,
              moneda:"EUR",
              fecha:fecha,
              concepto:"Alta cuenta"
          }

          console.log("La nueva cuenta " + cuentaNueva);

          this.$.altaCuenta.body = cuentaNueva

          this.$.altaCuenta.generateRequest()

      }

      cuentaDadaDeAlta(resultado)
      {
          alert("He acabado de dar de alta todo")
      }


    }

    window.customElements.define(AltaCliente.is, AltaCliente);
  </script>
</dom-module>
