<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="/src/login-usuario/login-usuario.html">
<link rel="import" href="/src/visor-cuentas/visor-cuentas.html">
<link rel="import" href="/src/pagina-inicio/pagina-inicio.html">

<dom-module id="manejador-app">
  <template>
    <style>
      [hidden]
      {
        display: none !important;
      }
      :host {
        display: block;
      }
    </style>


    <alta-cliente hidden$={{ocultaltacli}} id="altacliid"></alta-cliente>
    <visor-cuentas hidden$={{ocultarvisorcuenta}} id="visorCuentasid"></visor-cuentas>
    <login-usuario hidden$={{ocultarlogin}} id="loginid" on-logininsertado="procesarLogin"></login-usuario>
    <pagina-inicio hidden$={{ocultarinicio}} id="inicioid" on-peticionpin="peticionPin" on-peticionalta="altaCliente"></pagina-inicio>


</form>
  </template>

  <script>
    /**
     * `manejador-app`
     *
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ManejadorApp extends Polymer.Element {
      static get is() { return 'manejador-app'; }
      static get properties() {
        return {
            ocultarinicio:{
              type:Boolean,
              value:false
            },
            ocultarlogin:{
              type:Boolean,
              value:true
            },
            ocultarvisorcuenta:{
              type:Boolean,
              value:true
            },
            ocultaltacli:{
              type:Boolean,
              value:true
            }

        };
      }
      peticionPin(e){
        console.log("voy a pedir el pin" );

        this.ocultarlogin= false
        this.ocultarinicio=true
        this.ocultarvisorcuenta=true
        this.ocultaltacli=true
//debugger
        console.log("he dejado de ocultar el login")
        console.log(e)


      }

      altaCliente(e)
      {
        console.log("voy a pedir el alta de cliente nuevo" )

        this.ocultarlogin= true
        this.ocultarinicio=true
        this.ocultarvisorcuenta=true
        this.ocultaltacli=false
//debugger
        console.log("he dejado de ocultar el alta")
        console.log(e)


      }


      procesarLogin(e){
        console.log("He procesado el login" );
        console.log(e)
//debugger
        this.ocultarlogin= true
        this.ocultarvisorcuenta=false
        this.$.visorCuentasid.obtenerCuentasUsuario(e.detail.idUsuario)
        /* con $ accedo al dom*/
      }
    }

    window.customElements.define(ManejadorApp.is, ManejadorApp);
  </script>
</dom-module>
