<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="emisor-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h1>Estoy en el emisor</h1>
    <button on-click="enviarEvento" type="button" name="button">Púlsame</button>

  </template>

  <script>
    /**
     * `emisor-app`
     *
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class EmisorApp extends Polymer.Element {
      static get is() { return 'emisor-app'; }
      static get properties() {
        return {

        };
      }
      enviarEvento(e){
        console.log("ON-CLICK","Alguien a pulsado el botón")
        console.log(e)
        /* Forma de enviar evento           nombre        json con los datos que se quieren enviar         */
        this.dispatchEvent(new CustomEvent("mievento",{"detail":{"curso":"TechU","anno":2018}}))
      }
    }

    window.customElements.define(EmisorApp.is, EmisorApp);
  </script>
</dom-module>
