<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="stylesheet" href="signin.css">

<dom-module id="login-usuario">
  <template>
    <style>
      :host {
        display: block;
      }


    </style>

<iron-ajax id="hacerLogin"
           url="http://localhost:3000/apitechu/v5/login"
           method="POST"
           handle-as="json"
           on-response="mostrarResultadoLogin"
           on-error="mostrarError">
</iron-ajax>


<body class="text-center">
  <form class="form-signin">
       <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
       <h1 class="h3 mb-3 font-weight-normal">Introduce tus datos</h1>
       <label for="inputEmail" class="sr-only">Email address</label>
       <input type="email" value={{email::input}} id="inputEmail" class="form-control" placeholder="Email" required autofocus>
       <label for="inputPassword"  class="sr-only">Password</label>
       <input type="password" value={{password::input}} id="inputPassword" class="form-control" placeholder="Password" required>
       <div class="checkbox mb-3">
         <label>
           <input type="checkbox" value="remember-me"> Remember me
         </label>
       </div>
       <button class="btn btn-lg btn-primary btn-block" type="submit" on-click="logar">logar</button>
       <p class="mt-5 mb-3 text-muted">&copy; 2018-2019</p>
     </form>
</body>


    <span hidden$="{{!logado}}">Bienvenido de nuevo</span>


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
          email:{
            type: String
          },
          password:{
            type: String
          },
          logado:{
            type:Boolean,
            value:false
          }
        };
      }
      mostrarResultadoLogin(resultado)
      {
        console.log("4. llegaron los resultados");
        console.log(resultado)
        console.log("5. proceso los resultados");
        this.logado=true
        console.log("voy a mostrar resultado");
        console.log(resultado.detail.response.id);
        console.log("Mostrado resultado");

        this.dispatchEvent(new CustomEvent("logininsertado",{"detail":{"idUsuario": resultado.detail.response.id }}))


      }
      logar()
      {
        this.logado=false
        console.log("1. El usuario ha pulsado el boton");
        this.$.hacerLogin.headers.email='"' + this.email + '"'
        this.$.hacerLogin.headers.password='"' + this.password + '"'
        console.log("2. Enviar petición");
        this.$.hacerLogin.generateRequest()
        console.log("3. Enviada petición ");

      }
      mostrarError(error)
      {
        console.log("4. mostrar error");
        console.log(error)
      }
    }

    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
