<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-lightbox/paper-lightbox.html">
<link rel="import" href="../../bower_components/neon-animation/web-animations.html">
<link rel="import" href="../../bower_components/neon-animation/animations/scale-up-animation.html">
<link rel="import" href="../../bower_components/neon-animation/animations/fade-out-animation.html">



<dom-module id="pagina-inicio">
  <template>


  <paper-button raised onclick="animated.open()">open</paper-button>
  <paper-dialog id="animated" entry-animation="scale-up-animation" exit-animation="fade-out-animation" with-backdrop>
    <h2>Dialog Title</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
      irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </paper-dialog>

    <style>
      [hidden]
      {
        display: none !important;
      }
      :host {
        display: block;
      }
    </style>

    <div class="jumbotron text-center"  style="background-color:#FFFF00;">
        <div class="row"  align="center">
            <div class="col-sm-2">
                <img src="..\img_iconos\open.png" alt="Area cliente" style="width:42px;height:42px;border:0;">
            </div>
            <div class="col-sm-6">
                <h1>Bienvenido a PetroBank</h1>
                <p>Tu banco de confianza</p>
            </div>
        </div>

    </div>
    </br>
    </br>
    </br>
    </br>
    </br>
    <div class="container">
      <div class="row"  align="center">
        <div class="col-sm-6">

            <img on-click="altacliente" class="center-block" src="..\img_iconos\edit-1.png" alt="Quiero ser cliente" style="width:80px;height:80px;border:0;">

          <h3>Quiero ser cliente</h3>
          <p>Entra, date de alta y empeza a disfrutar de nuestras ventajas</p>
        </div>



        <div class="col-sm-6 center-block" align="center">

            <img on-click="pinusuario" class="center-block" src="..\img_iconos\users-1.png" alt="Area de cliente" style="width:80px;height:80px;border:0;">

            <h3 class=text-info >Soy cliente</h3>
            <p>Acceso al area de cliente</p>


        </div>
      </div>
    </div>


  </template>

  <script>
    /**
     * `pagina-inicio`
     *
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class PaginaInicio extends Polymer.Element {
      static get is() { return 'pagina-inicio'; }
      static get properties() {
        return {

        };
      }

      pinusuario()
      {

        this.dispatchEvent(new CustomEvent("peticionpin",{"detail":{"idUsuario": 1}}))
      }

      altacliente()
      {
        console.log("voy a entrar en alta de usuario" )
        debugger
        this.$.animated.open();
        this.$.animated.toggle();
        this.dispatchEvent(new CustomEvent("peticionalta",{"detail":{"idUsuario": 1}}))
      }

    }

    window.customElements.define(PaginaInicio.is, PaginaInicio);
  </script>
</dom-module>
