<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="visor-movimientos">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <iron-ajax id="verMovimientosCuenta"
               url="http://localhost:3000/apitechu/v5/movimientosCuenta"
               method="POST"
               handle-as="json"
               on-response="movimietosOk"
               on-error="mostrarErroVerMovimientos">
    </iron-ajax>

    <h1>Visor movimientos</h1>


  </template>

  <script>
    /**
     * `visor-movimientos`
     *
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class VisorMovimientos extends Polymer.Element {
      static get is() { return 'visor-movimientos'; }
      static get properties() {
        return {

        };
      }
      mostrarMovimientos(idCuenta)
      {
        console.log("Estoy en  mostrarMovimientos");
        console.log(idCuenta);
        /* Sera enlazado desde login, recibira el dato y llamara al iron-ajax $obtenerCuenta */

        this.$.verMovimientosCuenta.headers.iban = idCuenta

        this.$.verMovimientosCuenta.generateRequest()


      }

    }

    window.customElements.define(VisorMovimientos.is, VisorMovimientos);
  </script>
</dom-module>
