<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">


<dom-module id="visor-cuentas">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>
    <iron-ajax
      id="obtenerCuentas"
      url="http://localhost:3000/apitechu/v5/cuentasdeCliente"
      handle-as="json"
      headers='{"id":11}'
      method=POST
      on-response="mostrarCuentas"
      on-error="mostrarErrorCuentas">
    </iron-ajax>

    <h1>Sus cuentas</h1>

    <table style="width:100%" class="table table-striped">
      <thead>
        <th>Indice</th>
        <th>IBAN</th>
      </thead>
      <tbody>
          <template is="dom-repeat" items="{{cuentas}}">
            <tr>
              <td>{{index}}</td>
              <td>{{item.IBAN}}</td>
              <td><a class="btn btn-info" href="/movimientos/[[item.IBAN]]"> ver movimientos </a></td>
            </tr>
          </template>
      </tbody>
    </table>
  </template>

  <script>
    /**
     * `visor-cuentas`
     *
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class VisorCuentas extends Polymer.Element {
      static get is() { return 'visor-cuentas'; }
      static get properties() {
        return {
            id:{
              type:Number,
              value:11
            },
            cuentas:{
              type:Array
            }
        };
      }

      obtenerCuentasUsuario(idusuario)
      {
        console.log("Estoy en obtener cuentas");
        console.log(idusuario);
        /* Sera enlazado desde login, recibira el dato y llamara al iron-ajax $obtenerCuenta */

        this.$.obtenerCuentas.headers.id = idusuario
        
        this.$.obtenerCuentas.generateRequest()

      }

      mostrarCuentas(resultado)
      {
        console.log(resultado.detail.response);
        this.cuentas = resultado.detail.response
      }
      mostrarErrorCuentas(error)
      {
        console.log(error.detail.response);
      }

    }

    window.customElements.define(VisorCuentas.is, VisorCuentas);
  </script>
</dom-module>
